@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600&display=swap');

* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(30deg,
            hsl(240deg 7% 6%) 0%,
            hsl(231deg 5% 15%) 20%,
            hsl(225deg 6% 24%) 29%,
            hsl(220deg 6% 34%) 36%,
            hsl(215deg 7% 44%) 43%,
            hsl(211deg 9% 55%) 50%,
            hsl(230deg 5% 45%) 57%,
            hsl(267deg 4% 34%) 64%,
            hsl(313deg 4% 24%) 71%,
            hsl(341deg 4% 14%) 80%,
            hsl(0deg 4% 5%) 100%);
}